.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

input{
   font-size: 24px;
   border: none;
}
button{
  background-color: green;
  color: white;
  font-size: 24px;
}
.weather-cards{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
}
.weather-card{
  width: 200px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.21);
}